body
{
	background : url("images/patio.jpg");
	background-size: 100%;
}
#div1{
	width: 450px; margin: 0 auto;
	margin-left: 90px;
	background:rgba(255,255,255, 0.7);
}
#tab{
	background:rgba(255,255,255, 0.9);
	min-width: 10px;
	color: black;
}
td{
	border: 1px solid black;
}
#rd_form{
	float: left;
	border: 1px solid black;
	margin-left: 260px;
	width: 100px;
	height: 135px;
	margin-top: -140px;
    background-color: rgba(255,255,255, 0.9);
	color: black;
}
#tab_form{
	float: left;
	margin-right: 100px;
}
#contenedor1{
width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contenedor{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#lcont{
	float: right;
	width: 500px;
	border: solid black;
	background-color: black;	
	color: white;
}
#pfoo{
	background-color: black;
	color: white;
	width: 1000px; margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}
label{
	background-color: black;
	color: white;
}
h1{
	text-align: center;
	background-color: black;
	color: white;

}
h2{
	text-align: center;
	background-color: black;
	color: white;
}
h3{
	background-color: black;
	color: white;
}
button{
	margin-left: 120px;
	background-color: black;
	color: white;

}#hdiagnostico{
	width: 450px;
	text-align: center;
}
#btnenviar{
margin-top: 30px;
}




#contenedor2{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;	
}
#tab_form2{
	margin-top: 10px;
	height: 300px;	
}
#rd2{
	float: left;
	border: 1px solid black;
	margin-left:300px;
	width: 100px;
	height: 85px;
	margin-top: -90px;
    background-color: rgba(255,255,255, 0.9);
	color: black;
}
#tab2{
background-color: rgba(255,255,255, 0.9);
	color: black;
}
#tab_form2_1{
	float: left;
	background-color: rgba(255,255,255, 0.9);
	color: black;
	margin-right: 200px;
	width: 440px;
}
#rd2_1{
	background-color: rgba(255,255,255, 0.9);
	color: black;
	margin-right:50px;
	margin-left: 450px;
	float: left;
	width: 130px;
	margin-top: -300px;
}
#formulario2_2{
  width: 100%;
  max-width: 800px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0 auto;
  margin-top: 25px;
}
#btn2{
margin-top: 100px;
width: 150px;
right: 550px;
box-shadow:0 1px 0 #cfcfcf;
}
#radgral{
margin-top: 100px;
}

#dvtipousuario{
	width: 100%;
  max-width: 800px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0 auto;
  margin-top: 25px;
}
.ASD{
	
}